body{
	background-image: url('../media/boat.png');
	background-size: cover;
    background-repeat:no-repeat;
    min-width:250px;
    max-width: 600px;
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 1.5em;
}
h1{
	border: 10px solid rgb(252, 250, 248);
	text-align: center;
	font-size: 1.5em;
	color: 	rgb(1, 8, 17);
	text-shadow: 2px 1px rgb(29, 12, 1);
}



div{
	width: 550px;
	text-align: center;
	margin-top: 2%;
	border: 10px solid rgb(252, 250, 248);
}
canvas{
	display: inline;
	border: 5px solid rgb(252, 250, 248);
	
	
}
footer{
	text-align: left;
	margin-top: 2%;
	color: rgb(204, 86, 7);
	text-shadow: 2px 1px rgb(15, 7, 1);
}
